/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
       display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/***********/
input, button {
    padding: 0;
    margin: 0;
    border: none;
}
/************
Basic
************/
/*columner #ebecf0, card #ffffff, bakgrund #0079bf*/
body{
   background-color: #ffffff;
   font-family: 'Helvetica Neue', Calibri, sans-serif;
   color: #444444;
}
h1,h2,h3{
   font-family: 'Literata', serif;
}
h1{
   font-size: 1.5em;
   font-weight: 700;
   margin-bottom: 20px;
   line-height: 1.5em;
}
h2{
   font-size: 0.95em;
   text-align: left;
   font-weight: 700;
   line-height: 1.3em;
}
h3{
   font-size: 0.95em;
   text-align: left;
   font-weight: 700;
   line-height: 1.3em;
}
p{
   font-size: 1rem;
   line-height: 1.1rem;
}
.wrapper {
  width: 100%;
  height: auto;
}
/************
Header 
************/
header.page-header{
   height: 80px;
   padding: 20px 6% 0 6%;
   background-color:#A4A4AB;
}
.logo-keeper{
   width: 150px;
   margin: auto;
}
.logotext{
   text-align: center;
   font-weight: 700;
   font-style: italic;
   font-size: 3rem;
   color: #0079bf;
}
/************
Main
************/
.main{
   height: auto;
   padding: 0 6%;
   background-color: #0079bf;
   overflow: hidden;
}
/*.flex-container{
   display: flex;
   width: 76%;
   flex-wrap: nowrap; 
   margin: 0 auto;
   overflow: visible;
}*/
.float-left{
   /*width: 78%;*/
   float: left;
   width: 1255px;
   margin: 0 12%;
}
.column{
   float: left;
   background-color:#ebecf0;
   width: 272px;
   margin: 10px 5px;
   padding: 10px 20px 10px 10px;
   min-height: 100px;
   max-height: 700px;
   border-radius: 7px;
   text-align: center;
   text-align: left;
   overflow: auto;
   border-bottom: 1px solid #444444;
   border-right: 1px solid #444444;
}
.column-header{
   width: 252px;
   min-height: 20px;
}
.card{
   display: inline-block;
   width: 252px;
   min-height: 20px;
   margin: 10px 0 0 0;
   padding: 10px;
   border-radius: 7px;
   background-color: #ffffff;
   border-bottom: 1px solid #A4A4AB;
   border-right: 1px solid #A4A4AB;
   cursor: pointer;
}
.enter-card{
   width: 252px;
   min-height: 20px;
   margin: 10px 0;
   cursor: pointer;
}
/************
Footer
************/
.footer{
   clear: both;
   height: 5px;
   padding: 0 6%;
   margin-bottom: 10px;
   background-color:#A4A4AB;
}








/* ADD CARD BUTTON */

.add-card-button{
outline: none;
}